body {
    background-size: cover;
    background-position: center;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

a {
    color: black;
    border-left: 50px;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 40;
    padding-left: 50px;
    padding-right: 50px;
}